body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5ffff;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b3f0f4; /* azuriu deschis spre turcoaz */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Titlu */
header h1 {
    margin: 0;
    font-size: 22px;
    color: #004d55;
    font-weight: bold;
}

/* n cazut */
.fallen-n {
    display: inline-block;
    transform: rotate(20deg) translateY(5px);
    color: #00383d;
}

/* HAMBURGER */
.hamburger {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2000;
}
.hamburger div {
    width: 28px;
    height: 3px;
    background-color: #004d55;
    margin: 5px 0;
    border-radius: 2px;
}

/* DROPDOWN MENU */
nav {
    width: 100%;
    background-color: #d7fafc;
    border-bottom: 2px solid #0097a7;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    padding: 12px;
    text-decoration: none;
    color: #00383d;
    font-size: 18px;
}

nav a:hover {
    background-color: #bbf4f7;
}

.hidden {
    display: none;
}

/* PAGE UNDER CONSTRUCTION */
.construction {
    margin-top: 90px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #cc0000;
}

/* MAIN CONTENT */
main {
    padding: 20px;
    font-size: 18px;
}
